.boldpo-category-list-block-wrap {
    width: 100%;

    .boldpo-category-list {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .boldpo-category-item {
            position: relative;
            transition: var(--boldpo-preset-hover-transition);
            overflow: hidden;

            &:hover {
                transform: translateY(-2px);
            }

            .boldpo-category-link {
                display: block;
                text-decoration: none;
                color: inherit;
                height: 100%;

                .boldpo-category-content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    height: 100%;

                    .boldpo-category-title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        transition: color var(--boldpo-preset-hover-transition);
                        margin-bottom: 0;
                    }

                    .boldpo-category-count {
                        display: inline-block;
                        transition: var(--boldpo-preset-hover-transition);
                        height: max-content;
                        min-height: 25px;
                        min-width: 25px;
                        text-align: center;
                        line-height: 25px;
                    }
                }
            }
        }

        // Style variations
        &.style-1 {
            .boldpo-category-item {
                background-color: var(--boldpo-preset-color-tertiary);

                .boldpo-category-content {
                    .boldpo-category-count {
                        background-color: var(--boldpo-preset-color-contrast-1);
                        color: #fff;
                    }
                }
            }
        }
    }
}