.boldpo-post-grid-3-block-wrap {

	// Ensure gutter padding doesn't overflow the column widths
	.boldpo-grid-col-left-wrap,
	.boldpo-grid-col-right-wrap {
		box-sizing: border-box;
	}

	.boldpo-post-grid-3 {
		// Grid handled by Bootstrap classes

		box-sizing: border-box;
		margin-bottom: 0px; // Reset any previous margins
		overflow: hidden;

		.boldpo-grid-item-inner {
			box-sizing: border-box;
			height: 100%;
			position: relative;
		}

		.boldpo-blog-content {
			padding-top: 10px;
			position: absolute;
			bottom: 0;
			padding: 0 30px 30px;
			display: flex;
			flex-direction: column;
			height: max-content;
			justify-content: flex-end;
		}

		.boldpo-grid-item {
			position: relative;
			transition: var(--boldpo-preset-hover-transition);
			box-sizing: border-box;

			.boldpo-grid-item-inner {
				overflow: hidden;
				display: flex;
				flex-direction: column;
				height: 100%;
			}

			img {
				max-width: 100%;
				height: auto;
				display: block;
				object-fit: cover;
				transition: transform var(--boldpo-preset-hover-transition);
			}

			i {
				font-size: 16px;
			}

			.boldpo-blog-date-top {
				z-index: 1;
				background-color: var(--boldpo-preset-color-primary);

				h4 {
					margin: 0;
					color: #fff;
					font-size: 36px;
					line-height: 1;
				}

				position: absolute;
				top: 0;
				right: 0;
				display: inline-block;
				padding: 16px 26px 16px;
				text-align: center;
				border-radius: 4px;
				color: #fff;
				margin: 25px;

				h4,
				span {
					color: inherit;
				}
			}

			.boldpo-overlay-all {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(to top, #000, transparent);
			}

			.boldpo-blog-img {
				position: relative;
				max-width: 100%;
				height: auto;
				display: block;
				margin: 0 auto;
				overflow: hidden;
				width: 100%;
				transition: transform var(--boldpo-preset-hover-transition);

				img {
					display: block;
					object-fit: cover;
					width: 100%;
					min-height: 200px;
					object-fit: cover;
					width: 100%;
				}

				&.boldpo-animate {
					overflow: hidden;
				}
			}

			.boldpo-blog-title {
				font-weight: bold;
				margin: 10px 0 5px;

				a {
					color: currentColor;
					transition: var(--boldpo-preset-hover-transition);
					text-decoration: none;
				}
			}

			.boldpo-post-categories,
			.boldpo-post-metas {
				margin: 20px 0 5px;
				padding: 0;
				list-style: none;
				display: inline-flex;
				flex-wrap: wrap;
				font-size: 14px;
				line-height: 120%;
				align-items: center;
				gap: 18px;

				.bldpost-meta {
					display: flex;
					align-items: center;
				}

				a {
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				li {
					position: relative;
				}

				li+li {
					margin-left: 10px;
					padding-left: 10px;
				}
			}

			.boldpo-post-metas {
				&.boldpo-post-metas-style-1 {
					.bldpost-meta {
						position: relative;

						&:not(:first-child) {
							&::before {
								content: "";
								position: absolute;
								left: -11px;
								top: 6px;
								width: 5px;
								height: 5px;
								background: currentColor;
								border-radius: 100%;
							}
						}
					}

					a {
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.boldpo-cat-dot {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: var(--boldpo-preset-color-primary);
				margin-right: 6px;
			}

			.boldpo-read-more {
				display: inline-block;
				margin-top: 10px;
				text-decoration: none;

				.boldpo-read-more-link {
					display: inline-flex;
					align-items: center;
					text-decoration: none;
					padding: 7px 16px;
					background-color: var(--boldpo-preset-color-primary);
					color: var(--boldpo-preset-color-white);
					font-size: 14px;
					font-weight: 600;
					transition: 0.3s ease-in-out;

					&:hover {
						background-color: var(--boldpo-preset-color-secondary);
					}
				}

				.boldpo-read-more-icon.after {
					margin-left: 6px;
					top: 1px;
				}

				.boldpo-read-more-icon.before {
					margin-right: 6px;
					top: 1px;
				}
			}

			.boldpo-blog-excerpt {
				margin-top: 20px;
				margin-bottom: 20px;
				font-size: 18px;
				color: var(--boldpo-preset-color-contrast-2);

				a {
					color: currentColor;
				}
			}

			.boldpo-blog-title,
			.boldpo-post-metas,
			.boldpo-post-categories,
			.boldpo-blog-excerpt,
			.boldpo-read-more a {
				color: #fff;
			}

			a {
				&:hover {
					color: var(--boldpo-preset-color-primary);
				}
			}

			&:hover {
				.boldpo-blog-img {
					position: relative;

					&.boldpo-animate {
						&.left_right {

							transform: translateX(15px) scale(1.1);

						}

						&.top_bottom {

							transform: translateY(15px) scale(1.1);

						}
					}
				}
			}

		}

		&.style-default,
		&.style-1 {
			@media (max-width: 768px) {
				flex-wrap: wrap !important;
			}

			.boldpo-grid-col-left-wrap,
			.boldpo-grid-col-right-wrap {
				.boldpo-grid-item {
					.boldpo-blog-title {
						font-size: 36px;
					}
				}
			}

			.boldpo-grid-col-middle-wrap {
				.boldpo-grid-item {
					.boldpo-blog-title {
						font-size: 24px;
					}
				}
			}
		}
	}

	.boldpo-pagination {
		margin-top: 40px;
		display: flex;
		justify-content: center;
		gap: 8px;

		a,
		span {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			font-size: 14px;
			border-radius: 50%;
			text-decoration: none;
			transition: var(--boldpo-preset-hover-transition);
			box-shadow: 0 5px 10px #0e0d0d1a;
		}

		span.current {
			cursor: default;
		}
	}
}