@import 'boldpo-icon';

:root {
    --boldpo-preset-color-primary: #126bf0;
    --boldpo-preset-color-secondary: #5096ff;
    --boldpo-preset-color-tertiary: #f3f3f3;
    --boldpo-preset-color-white: var(--wp--preset--color--white, #ffffff);
    --boldpo-preset-color-contrast-1: var(--wp--preset--color--contrast, #1e1e1e);
    --boldpo-preset-color-contrast-2: #11111194;
    --boldpo-preset-color-border: #8383831f;
    --boldpo-preset-hover-transition: 0.4s ease;
}

.boldpo-text-left {
    justify-content: flex-start;
}

.boldpo-text-center {
    justify-content: center;
}

.boldpo-text-right {
    justify-content: flex-end;
}

.boldpo-block a {
    &:focus {
        outline: none;
    }
}

.boldpo-post-categories,
.boldpo-post-metas {
    margin: 20px 0 5px;
    padding: 0;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 120%;
    align-items: center;
    gap: 18px;

    .bldpost-meta {
        display: flex;
        align-items: center;

        a {
            overflow: visible !important;
        }
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    li {
        position: relative;
    }

    li+li {
        margin-left: 10px;
        padding-left: 10px;
    }
}

.boldpo-post-categories {
    margin: 0;
    gap: 0;
    display: flex;

    .boldpo-cat-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--boldpo-preset-color-primary);
        margin-right: 6px;
    }

    .bldpost-meta {
        text-transform: uppercase;

        a {
            text-decoration: none;
        }
    }

    &.boldpo-post-categories-style-1 {
        margin-left: 12px;
        margin-top: 12px;

        .bldpost-meta {
            background: var(--boldpo-preset-color-white);
            color: var(--boldpo-preset-color-contrast-1);
            padding: 8px 8px 7px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            line-height: 1;
            flex-wrap: wrap;
            gap: 1px;
        }
    }

    &.boldpo-post-categories-style-2 {
        .bldpost-meta {
            font-size: 0.875rem;
            background: var(--boldpo-preset-color-primary);
            color: var(--boldpo-preset-color-white);
            display: inline-block;
            max-width: -moz-max-content;
            max-width: max-content;
            padding: 8px 16px;
            border-radius: 30px;
            margin: 3px 2px 3px;
            line-height: 1;
            text-transform: capitalize;

            a {
                color: currentColor;

                &:hover {
                    color: var(--boldpo-preset-color-tertiary) !important;
                }
            }

            .boldpo-cat-dot {
                display: none;
            }
        }
    }

    &.boldpo-post-categories-style-3 {
        .bldpost-meta {
            font-size: 0.875rem;
            padding: 0;
            margin: 3px 2px 3px;
            line-height: 1;
            text-transform: capitalize;

            a {
                color: currentColor;

                &:hover {
                    color: var(--boldpo-preset-color-primary) !important;
                }
            }

            .boldpo-cat-dot {
                display: none;
            }
        }
    }
}

.boldpo-post-metas {
    &.boldpo-upper-metas {
        margin-top: 0px !important;
    }

    &.boldpo-post-metas-style-1 {
        .bldpost-meta {
            position: relative;

            &:not(:first-child) {
                &::before {
                    content: "";
                    position: absolute;
                    left: -11px;
                    top: 6px;
                    width: 5px;
                    height: 5px;
                    background: currentColor;
                    border-radius: 100%;
                }
            }
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.boldpo-post-metas-style-2,
    &.boldpo-post-metas-style-3 {
        .bldpost-meta {
            img {
                width: 24px;
                margin-right: 10px;
                border-radius: 100%;
            }
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.boldpo-post-metas-style-3 {
        .bldpost-meta {
            position: relative;

            .boldpo-meta-cat {
                //color: var(--boldpo-preset-color-primary);
            }

            &:not(:first-child) {
                &::before {
                    content: "|";
                    position: absolute;
                    left: -11px;
                    font-weight: 500;
                    color: currentColor;
                }
            }
        }

        i {
            display: none;
        }
    }

    &.boldpo-post-meta-position-up_title {
        margin-top: 0 !important;
        margin-bottom: 8px;
    }

    &.boldpo-post-meta-position-below_title {
        margin: 12px 0 0 !important;
    }
}

.boldpo-post-grid,
.boldpo-post-grid-2,
.boldpo-post-grid-3,
.boldpo-post-grid-4,
.boldpo-post-list,
.boldpo-post-list-2,
.boldpo-post-list-3,
.boldpo-post-list-4,
.boldpo-post-slider,
.boldpo-post-slider-2,
.boldpo-post-slider-3,
.boldpo-post-slider-4 {
    .boldpo-blog-content {
        box-sizing: border-box;
    }

    .boldpo-blog-title {
        a {
            background-size: 0% 1px;
            background-position: 0% 100%;
            background-repeat: no-repeat;
            transition: all 1000ms;
            display: unset !important;

            &:hover {
                background-size: 100% 1px;
                background-position: 0% 100%;
                background-image: linear-gradient(to right, currentColor 100%, transparent 100%);
                width: fit-content;
            }
        }
    }

    .nav-btn {
        transition: var(--boldpo-preset-hover-transition);
    }
}