@import 'boldpo-icon';

:root {
    --boldpo-preset-color-primary: #126bf0;
    --boldpo-preset-color-secondary: #5096ff;
    --boldpo-preset-color-tertiary: #f3f3f3;
    --boldpo-preset-color-white: var(--wp--preset--color--white, #ffffff);
    --boldpo-preset-color-contrast-1: var(--wp--preset--color--contrast, #1e1e1e);
    --boldpo-preset-color-contrast-2: #11111194;
    --boldpo-preset-color-border: #8383831f;
    --boldpo-preset-hover-transition: 0.4s ease;
}

.boldpo-block a {
    &:focus {
        outline: none;
    }
}

.boldpo-blog-categories,
.boldpo-blog-metas {
    margin: 20px 0 5px;
    padding: 0;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 120%;
    align-items: center;
    gap: 18px;

    .bldpost-meta {
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    li {
        position: relative;
    }

    li+li {
        margin-left: 10px;
        padding-left: 10px;
    }
}

.boldpo-blog-categories {
    margin: 0;

    .boldpo-cat-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--boldpo-preset-color-primary);
        margin-right: 6px;
    }

    .bldpost-meta {
        text-transform: uppercase;

        a {
            text-decoration: none;
        }
    }

    &.boldpo-blog-categories-style-1 {
        .bldpost-meta {
            background: var(--boldpo-preset-color-white);
            color: var(--boldpo-preset-color-contrast-1);
            padding: 8px 8px 7px;
            border-radius: 4px;
            margin: 0;
            display: flex;
            align-items: center;
            line-height: 1;
            flex-wrap: wrap;
            gap: 1px;
            margin: 10px;
        }
    }
}

.boldpo-blog-metas {
    &.boldpo-blog-metas-style-1 {
        .bldpost-meta {
            position: relative;

            &:not(:first-child) {
                &::before {
                    content: "";
                    position: absolute;
                    left: -11px;
                    top: 6px;
                    width: 5px;
                    height: 5px;
                    background: currentColor;
                    border-radius: 100%;
                }
            }
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.boldpo-blog-metas-style-2 {
        .bldpost-meta {
            img {
                width: 24px;
                margin-right: 10px;
                border-radius: 100%;
            }
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}