.boldpo-post-slider-block-wrap .boldpo-post-slider {
	display: block; // Swiper needs block, children are absolute
	padding-bottom: 80px;

	.boldpo-grid-item-inner {
		@media screen and (max-width: 575px) {
			flex-wrap: wrap;
		}
	}

	.boldpo-blog-content {
		padding-top: 10px;
	}

	.boldpo-grid-item {
		position: relative;
		transition: all .5s ease;

		&:hover {
			.boldpo-blog-img {
				&.boldpo-animate {
					overflow: hidden;

					img {
						transition: transform var(--boldpo-preset-hover-transition);
					}

					&.left_right {
						&:hover img {
							transform: translateX(15px) scale(1.1);
						}
					}

					&.top_bottom {
						&:hover img {
							transform: translateY(15px) scale(1.1);
						}
					}
				}
			}
		}

		img {
			max-width: 100%;
			height: auto;
			display: block;
			object-fit: cover;
			transition: transform var(--boldpo-preset-hover-transition);
		}

		i {
			font-size: 16px;
		}

		.boldpo-blog-date-top {
			z-index: 1;
			background-color: var(--boldpo-preset-color-primary);

			h4 {
				margin: 0;
				color: #fff;
				font-size: 36px;
				line-height: 1;
			}

			position: absolute;
			top: 0;
			right: 0;
			display: inline-block;
			padding: 20px;
			padding-bottom: 6px;
			text-align: center;
			border-radius: 4px;
			color: #fff;
			margin: 25px;

			h4,
			span {
				color: inherit;
			}
		}

		.boldpo-blog-img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
			overflow: hidden;
			width: 100%;

			img {
				display: block;
				object-fit: cover;
				width: 100%;
			}

			&.boldpo-animate {
				overflow: hidden;

				img {
					transition: transform var(--boldpo-preset-hover-transition);
				}

				&.left_right {
					&:hover img {
						transform: translateX(15px) scale(1.1);
					}
				}

				&.top_bottom {
					&:hover img {
						transform: translateY(15px) scale(1.1);
					}
				}
			}
		}

		.boldpo-blog-title {
			font-weight: bold;
			color: currentColor;
			margin-top: 10px;
			margin-bottom: 5px;
			font-size: 1.2em;

			a {
				color: currentColor;
				transition: var(--boldpo-preset-hover-transition);
				text-decoration: none;
			}
		}

		.boldpo-blog-metas {
			margin: 20px 0 5px;
			padding: 0;
			list-style: none;
			display: inline-flex;
			flex-wrap: wrap;
			font-size: 14px;
			line-height: 120%;
			align-items: center;
			gap: 10px;

			a {
				color: currentColor;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			li {
				position: relative;
			}

			li+li {
				margin-left: 10px;
				padding-left: 10px;
			}
		}

		.boldpo-read-more {
			display: inline-block;
			margin-top: 10px;
			text-decoration: none;

			a {
				display: inline-flex;
				align-items: center;
				color: currentColor;
				text-decoration: none;
			}

			.boldpo-read-more-icon.after {
				margin-left: 6px;
				top: 1px;
			}

			.boldpo-read-more-icon.before {
				margin-right: 6px;
				top: 1px;
			}
		}

		.boldpo-blog-excerpt {
			margin-bottom: 20px;

			a {
				color: currentColor;
			}
		}

		a {
			&:hover {
				color: var(--boldpo-preset-color-primary);
			}
		}

	}

	&.style-1 {
		.boldpo-grid-item-inner {
			position: relative;
		}

		.boldpo-grid-item {
			position: relative;

			.boldpo-blog-content {
				position: absolute;
				bottom: 0;
				padding: 30px;
				display: flex;
				flex-direction: column;
				height: -webkit-fill-available;
				justify-content: flex-end;
			}

			.boldpo-overlay-all {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgb(0 0 0 / 47%);
			}

			.boldpo-blog-img img {
				height: 400px;
				object-fit: cover;
				width: 100%;
			}

			.boldpo-blog-title,
			.boldpo-blog-metas,
			.boldpo-blog-excerpt,
			.boldpo-read-more a {
				color: #fff;
			}

			a {
				&:hover {
					color: var(--boldpo-preset-color-primary);
				}
			}
		}
	}

	.swiper-pagination-bullet {
		&.swiper-pagination-bullet-active {
			background-color: #000;
		}
	}

	.nav-btn {
		background-color: #fff;
		border-radius: 5px;
		transition: var(--boldpo-preset-hover-transition);
		top: 45%;

		svg {
			height: 20px;
			width: 20px;

			path {
				fill: #000;
				stroke: #000;
			}
		}

		&:focus {
			outline: none;
		}

		&:hover {
			background-color: #000;

			svg {
				path {
					fill: #fff;
					stroke: #fff;
				}
			}
		}
	}
}