.boldpo-heading-block-wrap {
  width: 100%;
  box-sizing: border-box;
}
.boldpo-heading-block-wrap .boldpo-heading {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.boldpo-heading-block-wrap .boldpo-heading .boldpo-heading-title-wrap {
  display: inline-flex;
  align-items: center;
}
.boldpo-heading-block-wrap .boldpo-heading .boldpo-heading-title {
  margin: 0;
}
.boldpo-heading-block-wrap .boldpo-heading .boldpo-heading-description {
  margin: 10px 0 0 0;
  color: var(--boldpo-preset-color-contrast-2);
}
.boldpo-heading-block-wrap .boldpo-heading.style-2 .boldpo-heading-title-wrap, .boldpo-heading-block-wrap .boldpo-heading.style-5 .boldpo-heading-title-wrap, .boldpo-heading-block-wrap .boldpo-heading.style-6 .boldpo-heading-title-wrap {
  position: relative;
  width: 100%;
  column-gap: 10px;
}
.boldpo-heading-block-wrap .boldpo-heading.style-2 .boldpo-heading-title, .boldpo-heading-block-wrap .boldpo-heading.style-5 .boldpo-heading-title, .boldpo-heading-block-wrap .boldpo-heading.style-6 .boldpo-heading-title {
  white-space: nowrap !important;
  min-width: unset !important;
}
.boldpo-heading-block-wrap .boldpo-heading.style-2 .boldpo-heading-dot, .boldpo-heading-block-wrap .boldpo-heading.style-5 .boldpo-heading-dot, .boldpo-heading-block-wrap .boldpo-heading.style-6 .boldpo-heading-dot {
  min-width: 9px;
  height: 9px;
  background: var(--boldpo-preset-color-primary);
  border-radius: 100%;
}
.boldpo-heading-block-wrap .boldpo-heading.style-2 .boldpo-heading-border-line, .boldpo-heading-block-wrap .boldpo-heading.style-5 .boldpo-heading-border-line, .boldpo-heading-block-wrap .boldpo-heading.style-6 .boldpo-heading-border-line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--boldpo-preset-color-tertiary);
}
.boldpo-heading-block-wrap .boldpo-heading.style-5 .boldpo-heading-dot, .boldpo-heading-block-wrap .boldpo-heading.style-6 .boldpo-heading-dot {
  border-radius: 0;
}
.boldpo-heading-block-wrap .boldpo-heading.style-4 .boldpo-heading-title-wrap {
  display: flex;
  align-items: center;
  column-gap: 15px;
  width: 100%;
}
.boldpo-heading-block-wrap .boldpo-heading.style-4 .boldpo-heading-title {
  white-space: nowrap !important;
  min-width: unset !important;
}
.boldpo-heading-block-wrap .boldpo-heading.style-4 .boldpo-heading-border-line {
  display: block;
  flex: 1;
  height: 3px;
  background-color: var(--boldpo-preset-color-tertiary);
}
.boldpo-heading-block-wrap .boldpo-heading.style-3 .boldpo-heading-title-wrap {
  width: 100%;
}
.boldpo-heading-block-wrap .boldpo-heading.style-3 .boldpo-heading-title-wrap .boldpo-heading-right-icon {
  font-size: var(--wp--preset--font-size--x-large);
}
@keyframes uc-flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.boldpo-heading-block-wrap .boldpo-heading.style-6 .boldpo-heading-dot {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--boldpo-preset-color-primary);
  border-radius: 100%;
  animation: uc-flash 1s linear 0s infinite;
}/*# sourceMappingURL=style.css.map */