.boldpo-post-grid-block-wrap {
	.boldpo-post-grid {
		// Grid handled by Bootstrap classes

		box-sizing: border-box;
		margin-bottom: 0px; // Reset any previous margins

		.boldpo-grid-item-inner {
			box-sizing: border-box;
			height: 100%;
		}

		.boldpo-blog-content {
			padding-top: 10px;
		}

		.boldpo-grid-item {
			position: relative;
			transition: var(--boldpo-preset-hover-transition);
			box-sizing: border-box;

			.boldpo-grid-item-inner {
				overflow: hidden;
				display: flex;
				flex-direction: column;
				height: 100%;
			}

			img {
				max-width: 100%;
				height: auto;
				display: block;
				object-fit: cover;
				transition: transform var(--boldpo-preset-hover-transition);
			}

			i {
				font-size: 16px;
			}

			.boldpo-blog-date-top {
				z-index: 1;
				background-color: var(--boldpo-preset-color-primary);

				h4 {
					margin: 0;
					color: #fff;
					font-size: 36px;
					line-height: 1;
				}

				position: absolute;
				top: 0;
				right: 0;
				display: inline-block;
				padding: 16px 26px 16px;
				text-align: center;
				border-radius: 4px;
				color: #fff;
				margin: 25px;

				h4,
				span {
					color: inherit;
				}
			}

			.boldpo-blog-img {
				max-width: 100%;
				height: auto;
				display: block;
				margin: 0 auto;
				overflow: hidden;
				width: 100%;

				img {
					display: block;
					object-fit: cover;
					width: 100%;
				}

				&.boldpo-animate {
					overflow: hidden;

					img {
						transition: transform var(--boldpo-preset-hover-transition);
					}

					&.left_right {
						&:hover img {
							transform: translateX(15px) scale(1.1);
						}
					}

					&.top_bottom {
						&:hover img {
							transform: translateY(15px) scale(1.1);
						}
					}
				}
			}

			.boldpo-blog-title {
				font-weight: bold;
				margin: 10px 0 5px;
				font-size: 1.2em;

				a {
					color: currentColor;
					transition: var(--boldpo-preset-hover-transition);
					text-decoration: none;
				}
			}

			.boldpo-blog-metas {
				margin: 20px 0 5px;
				padding: 0;
				list-style: none;
				display: inline-flex;
				flex-wrap: wrap;
				font-size: 14px;
				line-height: 120%;
				align-items: center;
				gap: 18px;

				.bldpost-meta {
					display: flex;
					align-items: center;
				}

				a {
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				li {
					position: relative;
				}

				li+li {
					margin-left: 10px;
					padding-left: 10px;
				}
			}

			.boldpo-read-more {
				display: inline-block;
				margin-top: 10px;
				text-decoration: none;

				.boldpo-read-more-link {
					display: inline-flex;
					align-items: center;
					text-decoration: none;
					padding: 7px 16px;
					background-color: var(--boldpo-preset-color-primary);
					color: var(--boldpo-preset-color-white);
					font-size: 14px;
					font-weight: 600;
					transition: 0.3s ease-in-out;

					&:hover {
						background-color: var(--boldpo-preset-color-secondary);
					}
				}

				.boldpo-read-more-icon.after {
					margin-left: 6px;
					top: 1px;
				}

				.boldpo-read-more-icon.before {
					margin-right: 6px;
					top: 1px;
				}
			}

			.boldpo-blog-excerpt {
				margin-top: 20px;
				margin-bottom: 20px;
				font-size: 18px;
				color: var(--boldpo-preset-color-contrast-2);

				a {
					color: currentColor;
				}
			}

			a {
				&:hover {
					color: var(--boldpo-preset-color-primary);
				}
			}

		}

		&.style-1 {
			.boldpo-grid-item-inner {
				position: relative;
			}

			.boldpo-grid-item {
				position: relative;

				.boldpo-blog-content {
					position: absolute;
					bottom: 0;
					padding: 0 30px 30px;
					display: flex;
					flex-direction: column;
					height: max-content;
					justify-content: flex-end;
				}

				.boldpo-overlay-all {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgb(0 0 0 / 47%);
				}

				.boldpo-blog-img img {
					height: 400px;
					object-fit: cover;
					width: 100%;
				}

				.boldpo-blog-title,
				.boldpo-blog-metas,
				.boldpo-blog-excerpt,
				.boldpo-read-more a {
					color: #fff;
				}

				a {
					&:hover {
						color: var(--boldpo-preset-color-primary);
					}
				}
			}
		}
	}

	.boldpo-pagination {
		margin-top: 40px;
		display: flex;
		justify-content: center;
		gap: 8px;

		a,
		span {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			font-size: 14px;
			border-radius: 50%;
			text-decoration: none;
			transition: var(--boldpo-preset-hover-transition);
			box-shadow: 0 5px 10px #0e0d0d1a;
		}

		span.current {
			cursor: default;
		}
	}
}